<!DOCTYPE html>
<html>
	<head>
		<title> {{title}} </title>

		<link rel="stylesheet" type="text/css" href="./css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="./css/style.css">
	</head>
	<body>
		<div class="container-fluid">
			{{>header}}


			{{>footer}}
		</div>
	</body> 
</html>