<!DOCTYPE html>
<html>
	<head>
		<title> Error 404 [Page Not Found] </title>

		<link rel="stylesheet" type="text/css" href="./css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="./css/style.css">
	</head>
	<body>
		<div class="container">
			<div class="row" style="height: 100vh; align-content: center;">
				<div class="col-md-4 col-sm-4 col-xs-12 error-404-icon"></div>
				<div class="col-md-8 col-sm-8 col-xs-12">
					<div class="title-lg orange-m"> Oops ! </div>
					<div class="title-md orange-d"> 404 - Page not found </div>
					<div> <p> We could not find your page. Please open venture to the previous path or open a new tab on you browser and re-visit the site... </p> </div>
				</div>
			</div>
		</div>
	</body> 
</html>