<header>
	<div class="top-header"> 
		<div class="language-selector">
			<div class=""> <img src="./grafix/uk_circle.png" /> </div>
			<div class=""> <img src="./grafix/gr_circle.png" /> </div>
		<div>
	</div>
	<div class="main-header">
		<div> <a href="/"> Home </a> </div>
		<div> <a href="/about"> About </a> </div>
		<div> <a href="/help"> Help </a> </div>
	</div>
</header>